
.thrall-details-container {
    position: absolute;
    width: var(--sidebar-width);
    right: calc(-400px + 32px);
}

.thrall-details-sliding-in {
    right: calc(-400px + 32px);
    animation: thrall-details-slide-in var(--sidebar-slide-anim-duration) both;
}

.thrall-details-sliding-out {
    right: 16px;
    animation: thrall-details-slide-out var(--sidebar-slide-anim-duration) both;
}

@keyframes thrall-details-slide-in {
    100% {
        right: 0px;
    }
}

@keyframes thrall-details-slide-out {
    100% {
        right: calc(-400px);
    }
}

.thrall-details {
    color: var(--primary-sidebar-color);
    height: 100vh;
    overflow: auto;
}

.thrall-location-description {
    margin-top: 16px;
}
