
.thrall-details-container {
    position: absolute;
    width: calc(var(--sidebar-width) - 16px);
    right: calc(-400px + 32px);
}

.thrall-details-sliding-in {
    right: calc(-400px + 32px);
    animation: thrall-details-slide-in var(--sidebar-slide-anim-duration) both;
}

.thrall-details-sliding-out {
    right: 16px;
    animation: thrall-details-slide-out var(--sidebar-slide-anim-duration) both;
}

@keyframes thrall-details-slide-in {
    100% {
        right: 16px;
    }
}

@keyframes thrall-details-slide-out {
    100% {
        right: calc(-400px);
    }
}

.thrall-details {
    color: var(--primary-sidebar-color)
}

.thrall-location-list-container {
    margin-top: 16px;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

.thrall-location-list-header {
    font-size: 14pt;
}

.thrall-location-list-subheader {
    font-size: 12pt;
    margin-bottom: 8px;
}

.thrall-location-description {
    margin-top: 16px;
}
