body {
    /* For slide in animations */
    overflow-x: hidden;
    margin: 0;
}

.thrall-map-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar-right {
    background-color: #292829;
    width: 400px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}


.display-in-row {
    display: flex;
    flex-direction: row;
}

.display-in-center {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* Overwrites leaflet style */
.leaflet-bar a {
    background-color: var(--background-color) !important;
    color: var(--primary-sidebar-color) !important;
}

.leaflet-bar a:hover {
    background-color: var(--background-color) !important;
    color: var(--primary-sidebar-color-highlight) !important;
}

.leaflet-bar a.leaflet-disabled {
    color: var(--primary-sidebar-color-disabled) !important;
}

.leaflet-control-zoom {
    border: none !important;
}

#info-button {
    position: absolute;
    border-radius: 2px;
    z-index: 800;
    left: 10px;
    top: 72px;
    width: 30px;
    height: 30px;
    border-top: 1px solid var(--primary-sidebar-color);
    background-color: var(--background-color);
    color: var(--primary-sidebar-color);
}

#settings-button {
    position: absolute;
    border-radius: 2px;
    z-index: 800;
    left: 10px;
    top: 103px;
    width: 30px;
    height: 30px;
    border-top: 1px solid var(--primary-sidebar-color);
    background-color: var(--background-color);
    color: var(--primary-sidebar-color);
}

#hq-checkbox-wrapper {
    position: absolute;
    z-index: 800;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--primary-sidebar-color);
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
}

#hq-checkbox {
    margin-right: 8px;
}

#info-button:hover {
    color: var(--background-color-lighter);
    cursor: pointer;
}

#settings-button:hover {
    color: var(--background-color-lighter);
    cursor: pointer;
}

a:visited {
    color: var(--primary-sidebar-color-highlight);
}
